*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #777;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main {
    background-color: #f7f7f7;
    padding: 8rem 6rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.welcome-message{
    font-size: 2rem;
    text-align: center;
}

.footer {
    color: #7e7c7c;
    background-color: #f7f7f7;
    padding: 6rem 4rem 3rem 4rem;
    font-size: 1.4rem;
    text-align: center;
}
